section.Brand {
  min-height: calc(100% - var(--headerHeight));
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.menuContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  grid-gap: 25px;
  max-width: var(--appWidth);
  width: var(--appWidth);
  align-content: center;
  justify-content: center;
  padding-top:3rem;
  
  div.menuItem {

    &.disabled {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #333333A5;
        z-index: 2;
      }
      &:after {
        content: "UNAVAILABLE";
        color: crimson;
        justify-self: center;
        align-self: center;
        position: absolute;
        font-size: 1.5rem;
        z-index: 3;
      }
    }
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    max-height: 160px;
    overflow: hidden;
    position: relative;
    width: 100%;
    outline: 1px solid steelblue;
    background-color: var(--color-primary);
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    img {
      height: 120px;
      flex: 1 1 auto;
      object-fit: cover;
      border-radius: 8px;
      max-width: 120px;
    }
    span {
      display: flex;
      width: 100%;
      text-align: center;
      flex: 0 0 auto;
      height: 120px;
      flex: 1 1 auto;
      background-color: white;
      align-self: center;
      justify-self: center;
      flex-direction: column;

      h1 {
        font-size: 1.3rem;
        flex: 1 0 auto;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;
        b {
          align-self: center;
          justify-self: center;
          color: var(--color-primary);
          width: 100%;
        }
      }
      p {
        color: #333;
        line-height: 15px;
        b {          
          margin: 0 1rem;
          display: block;
        }
      }
      i {
        font-style: normal;
        color: var(--color-secondary);
        font-size: 1.2rem;
      }
    }
  }
}

.orderItemContainer {
  display: flex;
  flex-basis: fit-content;
  flex-direction: column;

  a.closebtn {
    background-color: transparent;
    display: none;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-items: center;
    padding: 0;
    cursor: pointer;
    ion-icon {
      color: var(--color-secondary);
      font-size: 2rem;
      flex: 1;
    }
  }

  .leftPane {
    position: sticky;
    top: 0;
    img {
      max-height: 600px;
      object-fit: cover;
      width: 100%;
    }
  }
  .rightPane {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 2;

    .title {
      display: flex;
      flex-direction: column;
      padding: 0 1rem 1rem;
      font-size: 2rem;
      position: sticky;
      top: 0;
      i {
        display: block;
        font-size: 1rem;
        color: var(--color-secondary);
        font-style: normal;
      }
      em {
        display: block;
        font-style: normal;
        font-size: 1.5rem;
      }
      b {
        padding: 0.5rem 0;
      }
    }

    .body {
      padding: 1rem;
    }

    .orderController {
      display: inline-flex;
      flex-direction: row;
      vertical-align: middle;
      align-items: center;
      justify-content: flex-start;
      input {
        flex: 0 0 40px;
        display: inline-flex;
        width: 30px;
        background-color: transparent;
        color: var(--color-secondary);
        text-align: center;
        border: none;
        box-sizing: border-box;       
      }
      .checkoutHandler {
        flex: 2 1 auto;
        display: inline-flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
      button{
        display: flex;
        vertical-align: middle;
        padding:0;
        flex: 0 0 40px;
        background-color: transparent;
        border: none;
        
        &.btn {
          margin: 0 5px;
          border-radius: 100%;
          color: #fff;
          font-size: 1rem;
          background-color: var(--color-secondary);
          justify-self: flex-end;
          align-self: stretch;
          flex: 0 0 150px;
          border-radius: 8px;
          padding: 0.65rem 1rem;
          color: #fff;
          border: 0;
          b{
            flex: 1 0 auto;
            justify-content: flex-end;
          }
        }
      }

      ion-icon {
        width: 40px;
        display: inline-flex;
        &.disabled {
          color: gray;
          cursor: not-allowed;
        }
        height: 40px;
        color: var(--color-primary);
        background-color: #fff;
        cursor: pointer;
      }
    }
  }
  
}

@media only screen and (max-width: 768px) {
  .Brand {
    padding: 1rem;
    .menuContainer {
      grid-template-columns: repeat(1, 1fr);
    }
  }
    
  .orderItemContainer {

    .rightPane {
      .title {
        padding: 0 0 1rem;
      }
      .body {
        padding: 1rem 0;
      }
    }

    a.closebtn {
      display: flex;
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: 4;
    }
  }
  
}