#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

.btn.cart {
  display: flex;
  align-items: center;
  justify-items: center;
  flex: 0 0 auto;
  ion-icon {
    font-size: 2rem;
    color: #fff;
    flex: 2 0 auto;
    display: flex;
  }
  a {
    display: flex;
    font-size: 1rem;
    flex: 1 1 auto;
    color: palevioletred;
    font-weight: 900;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  
  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

.Home{
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Struct{
  // font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  // border: 2px solid green;
  min-height: calc(100% - var(--headerHeight));
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  section {
    max-width: var(--appWidth);
    width: var(--appWidth);
    align-content: center;
    justify-content: center;
    // flex-wrap: wrap;
    // flex: 1 1 auto;
    // overflow-y: auto;
    min-height: 0px;    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
    grid-gap: 16px;

    div.brandContainer {
      align-items: center;
      aspect-ratio: 1;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      max-height: 270px;
      min-height: 180px;
      overflow: hidden;
      position: relative;
      width: 100%;
      outline: 1px solid steelblue;
      background-color: var(--color-primary);
      flex-direction: column;
      cursor: pointer;
      
      h3 {
        display: flex;
        font-size: 1.5rem;
        text-align: center;
        flex: 0 0 auto;
        height: 175px;
        width: 175px;
        max-width: 100%;
        background-color: white;
        align-self: center;
        justify-self: center;
        b {
          align-self: center;
          justify-self: center;
          color: black;
          width: 100%;
          white-space: break-spaces;
        }
      }
      p {
        width: 100%;
        text-align: center;
        color: whitesmoke;
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Struct {
    padding: 1rem;
    section {
      grid-template-columns: repeat(2,1fr);

      div.brandContainer {
        a {
          h3 {
            background-color: inherit;
            width: 100%;
            b{
              color: #fff;
            }
          }

        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
